.services {}

.services button {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: green;
    background-color: rgb(173, 238, 173);
    font-weight: bold;
    transition: 0.2s;

}

.services button:hover {

    color: rgb(53, 2, 2);
    box-shadow: 1px 2px 0px 0px #00000061;
}