.widget {
    display: flex;
    flex: 1;
    padding: 10px;
    justify-content: space-between;

    box-shadow: 2px 3px 21px -2px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 2px 3px 21px -2px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 3px 21px -2px rgba(0, 0, 0, 0.28);

    border-radius: 10px;
    height: 100px;
}

.widget .left,
.widget .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.widget .left .title,
.widget .right .title {
    font-weight: bold;
    font-size: 14px;
    color: gray;
}

.widget .left .counter,
.widget .right .counter {
    font-weight: 300;
    font-size: 28px;
    color: gray;
}

.widget .left .link,
.widget .right .link {
    width: max-content;
    font-size: 14px;
    border-bottom: 1px solid gray;
    color: gray;
}

.widget .left .percentage,
.widget .right .percentage {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.widget .left .positive,
.widget .right .positive {
    color: green;
}

.widget .left .negative,
.widget .right .negative {
    color: red;
}


.widget .left .icon,
.widget .right .icon {
    font-size: 18px;
    padding: 5px;
    background-color: rgba(255, 208, 0, 0.425);
    border-radius: 5px;
    align-self: flex-end;
}